.contact{
    width: 80%;
    height: 85vh;
    margin: 0 auto;
    margin-top: 70px;
    padding: 2em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.contact__title{
    font-family: 'Dancing Script', cursive;
    color: var(--blue-400);
    font-size: 2em;
    font-weight: 700;
    margin: 0;
}

.contact__list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.contact__item{
    font-size: 0.9em;
    font-style: italic;
}

.contact__item h3{
    margin: 0;
    font-style: normal;
    font-size: 1.25em;
    font-weight: 700;
    color: var(--blue-400);
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.contact__description{
    margin: 0;
    font-size: 0.9em;
    color: var(--gray-600);
}

.contact__left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contact__form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
}

.contact__right{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contact__right img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

@media screen and (max-width: 414px) and (orientation: portrait) {
    .contact{
        width: 100%;
        height: fit-content;
        flex-direction: column;
    }
}

@media screen and (max-height: 414px) and (orientation: landscape) {
    .contact{
        width: 100%;
        height: fit-content;
        flex-direction: column;
    }
}