.product-card-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
    border: 1px solid var(--gray-500);
    border-radius: 10px;
}

.product-card-list__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.product-card-list__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding: 0.25em;
}

.product-card-list__title {
    width: 100%;
    font-size: 1.5em;
    color: var(--blue-400);
    font-family: 'Dancing Script', cursive;
    margin: 0 0 0.15em 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.product-card-list__flag {
    margin-top: 0.15em;
}

.product-card-list__description {
    text-align: justify;
    font-size: 0.9em;
    color: var(--gray-700);
}


.product-card-list__price {
    width: 250px;
    position: absolute;
    bottom: 0;
}

.product-card-list .p-inputgroup-addon {
    background-color: var(--blue-500);
    border: 0;
    color: #fff;
}

@media screen and (max-width: 414px) and (orientation: portrait) {
    .product-card-list{
        width: 90%;
        flex-direction: column;
    }
    .product-card-list__image {
        width: 320px;
        height: 320px;
    }
}